
body {
    background: #363636;
    border-left: 1px solid #111;
    border-right: 1px solid #111;
    margin: 0 22.5%;
    position:relative
}

footer{
    background-color: #707070;
    height: 2em;
    left: 0;
    position: fixed; 
    bottom: 0;
    font-size: small;
    width:100%;
}