<div class="div-time">
    <div class="time-button">
      @if (!this.isGameActive()) {
        <button mat-icon-button (click)="startGame()" class="flex-button">
          <mat-icon>play_arrow</mat-icon>
        </button>
      } @else {
        <button mat-icon-button (click)="startGame()" class="flex-button">
          <mat-icon>stop</mat-icon>
        </button>
      }
    </div>
    <div class="reset-button">
      <button mat-icon-button (click)="resetGame()" class="flex-button">
        <mat-icon>replay</mat-icon>
      </button>
    </div>
  </div>
