<div class="">
  <form [formGroup]="PetitionPuzleForm" class="">
    <h1 class="">Configuración del puzzle</h1>
      <div class="slider-container" >
        @for(slider of this.formConfiguration; track slider.label ;let index=$index){
            <div class="slider">
              <div class="slider-row-1">
                <div>
                    <label for="{{slider.label}}">{{slider.label}}</label>
                </div>
                <div>
                    <p class=" ">{{this.getForm(slider.nameInput).value}}</p>
                </div>
              </div>
              <div class="slider-row-2">
                <input type="range"
                class="form-range"
                min="{{slider.min}}"
                max="{{slider.max}}"
                step="{{slider.step}}"
                id="{{slider.label}}"
                [formControl]="getForm(slider.nameInput)"/>
              </div>
            </div>
      }
      </div>
      <div class="button-div">
        @if(this.petitonActive()===false){

          <button mat-flat-button [matMenuTriggerFor]="menu" class="button-generar">Generar Puzzle</button>
        }@else {
          <mat-spinner class="spinner"></mat-spinner>
        }
      </div>


    </form>


</div>

<mat-menu #menu="matMenu">
  <div class="n-puzzles">
      @for (value of nPuzzlesValues; track value) {
        <button mat-menu-itemn (click)="generatePuzzle(value)"class="bg-light n-menu">{{value}}</button>
      }
    </div>

</mat-menu>
