

.nav-button{
  width: 100%;
  grid-column: 1;
  justify-content: center;
  color:white;
  border-radius: 30px;

}
.login:hover{
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  padding: 4px;
}

nav{
    width: 100%;
    padding-bottom: 50px;
}

mat-toolbar{
    display: grid;
    padding: 0;
    background: dodgerblue;
    max-width: 77em;
    max-height: 7rem;
    height: 6rem;
    margin: 0 auto;
    border-radius: 1px 1px 24px 24px;
}

.container-nav-bar{
  display: inline-grid; 
  grid-template-columns: 1fr 2fr  repeat(8,1fr);
  margin:0 2em
}

.menu{
    grid-column:10;
}

a{
  text-align: center;
  text-decoration: none;
  width: 100%;
  color: white;
}
.login{
    grid-column: 7;
    font-size: 2.5rem;
}
.generar{
    grid-column: 8;
    font-size: 2.5rem;
    :hover{
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 15px;
      padding: 4px;
    }
}

.colum{
  width: 100%;
  display: inline-grid;
  align-items: center;
  grid-row: 2;
  max-width: 150px;
}
.username{
  grid-row: 1;
  grid-column: 10;
}


.app{
    grid-column: 1;
    font-size: 4rem;
}

.example-menu {
    display: inline-flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 280px;
    background-color: rgba(255, 255, 255);
    padding: 6px 0;
  }
  
  .example-menu-item,

  .example-standalone-trigger {
    background-color: transparent;
    cursor: pointer;
    border: none;
  
    user-select: none;
    min-width: 80px;
    line-height: 36px;
    padding: 0 16px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex: 1;
  }
  
  .example-menu-item:hover {
    background-color: rgb(208, 208, 208);
  }
  
  .example-menu-item:active {
    background-color: rgb(170, 170, 170);
  }
  
  .example-standalone-item {
    background-color: rgb(239, 239, 239);
  }
  .example-standalone-item:hover {
    background-color: rgb(208, 208, 208);
  }
  .example-standalone-item[aria-expanded='true'] {
    background-color: rgb(208, 208, 208);
  }

  .material-icons-app {
    height: auto;
    width: auto;
    font-size: 58px;
  }