.game-container {
  display: grid;
  grid-template-columns: 11dvw 32dvw 12dvw;
  background-color: var(--puzzle-background);
  padding: 2rem;
  width: 61dvw;
  margin: 0 auto;
  margin-top: 2rem;
  border-radius: 5rem;
}
.div-back-button {
  display: grid;
  justify-items: center;
}
.back-button {
  width: 4rem;
  height: 4rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.div-puzzle {
  grid-column-end: 3;
  max-width: 632px;
}
.mat-list {
  background-color: black;
}


@media only screen and ((max-width: 900px)) {
  .game-container {
    grid-template-rows: 1fr 23dvh;
    grid-template-columns: 5rem 1fr;
    padding: 1rem;
    border-radius: 2rem;
  }
}
