.game-container {
  background-color: var(--puzzle-background);
  padding: 2rem;
  max-width: 42dvw;
  margin: 0 auto;
  margin-top: 2rem;
}
.div-back-button {
  display: grid;
  justify-items: center;
}
.back-button {
  width: 4rem;
  height: 4rem;
  display: grid;
  justify-items: center;
  align-items: center;
}

.div-puzzle {
}
.mat-list {
  background-color: black;
}

@media only screen and ((max-width: 1580px)) {
  .game-container {
    padding: 1rem;
    max-width: 54dvw;
  }
}

@media only screen and ((max-width: 1430px)) {
  .game-container {
    padding: 1rem;
    max-width: 60dvw;
  }
}

@media only screen and ((max-width: 1260px)) {
  .game-container {
    padding: 1rem;
    max-width: 67dvw;
  }
}

@media only screen and ((max-width: 964px)) {
  .game-container {
    padding: 1rem;
    max-width: 85dvw;
  }
}
