.text-div{
  flex-grow: 1;
}


.button-div {
	display: flex;

}

.delete-button{
  display: flex;
	flex-grow: 0.5;
  align-content: center;
	justify-content: center;
  margin: 0 auto;
  background-color: red;
}
.button-container{
  margin: 0 auto;
  gap: .5rem;
  display: flex;
}
.delete-acept-button{
  background-color: red;
  justify-content: center;
  display: flex;
}

.delete-cancel-button{
  background-color: green;
  justify-content: center;
  display: flex;
}