
    <div contenteditable="true" class="div-puzzle" (keydown)="botonAbajo($event)" >
      <mat-grid-list cols="{{this.Matrix()[1].length}}" >
        @for( row of this.Matrix() ; track $index; let i = $index){
                @for( cell of row ; track $index; let j = $index){
                    <mat-grid-tile
                        [colspan]="1"
                        [rowspan]="1"
                        [style.background-color]="getColorRow(cell)">
                    </mat-grid-tile>
                }
        }
      </mat-grid-list>
    </div>
