/* You can add global styles to this file, and also import other style files */

html,
body {
  min-height: 100dvh;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: #000000c4;
}
:root {
  --puzzle-background: rgb(13, 136, 94);
  --puzzle-header: rgb(44, 168, 126);
}
