

button{
    width: 8em;
    margin: 0 auto;
    display: block;
}

.blanco{
    background-color: white;
    width: 3em;
    height:3em;
}
.cafe{
    background-color:#994318;
    width: 3em;
    height:3em;
}
.rojo{
    background-color: red;
    width: 3em;
    height:3em;
}
.verde{
    background-color: green;
    width: 3em;
    height:3em;
}
.azul{
    background-color: blue;
    width: 3em;
    height:3em;
}
.gris{
    background-color: grey;
    width: 3em;
    height:3em;
}

.puzzle-container{
    width: 24em;
    height: 25em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.buttons{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 0em;
    margin: 0 auto;
}

.puzzle{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 2;
    width: 10em;
    margin:0 auto
}