
<button (click)="getPuzzleData()">Obtener un puzzle</button>
<table>
<!-- 
@for( row of this.puzzleData ; track $index; let i = $index)
{

     <tr>
        @for( col of this.getRow(row) ; track $index; let j = $index)
        {
            <td id="{{i}}-{{j}}" >
                @switch (col)
                {
                    @case (0)  {
                        <div class="blanco"></div>
                    }
                    @case (2){
                        <div class="cafe"></div>
                    }
                    @case (3) {
                        <div class="rojo"></div>
                    }
                    @case( 4) {
                        <div class="verde"></div>
                    }
                    @case( 5) {
                        <div class="azul"></div>
                    }
                    @default {
                        <div class="gris"></div>
                    }
                }
            </td>
        }
    </tr>
}
</table>
 -->
