
<div class="puzzle-container">
    <div class="buttons">
      <!--   <button (click)="reset()">Resetear Puzzle</button> -->
    </div>

<!--     <table class="puzzle">
    @for( row of this.modificableMatriz ; track $index; let i = $index)
    {
         <tr>
            <puzzle-row [row]="row"></puzzle-row>
        </tr>
    }@empty {
        <tr>
            <td colspan="4">No hay puzzle</td>
        </tr>
    }
    </table> -->
    <mat-grid-list cols="{{this.modificableMatriz[0].length}}" >
        @for( row of this.modificableMatriz ; track $index; let i = $index){
                @for( cell of row ; track $index; let j = $index){
                    <mat-grid-tile
                        [colspan]="1"
                        [rowspan]="1"
                        [style.background-color]="getColorRow(cell)">
                    </mat-grid-tile>
                }
        }
    
    </mat-grid-list>
</div>

