.div-info-game {
    display: grid;
    grid-template-rows: auto;
    background-color: white;
    padding: 1rem;
    min-width: fit-content;
    max-width: 25%;
    border-radius: 1rem;
  }
  

  .mat-info {
    align-self: center;
  }
  .div-dinamic-info {
    h2 {
      text-align: center;
    }
  }
  
  .div-static-info {
    h3 {
      text-align: center;
    }
  }
  

  @media only screen and ((max-width: 900px)) {
    .div-info-game {
      display: grid;
      grid-template-rows: 4rem 1fr;
      
    }
  }

.time-buttons{
    display: inline-flex;
  }