<div class="div-info-game" cdkDrag cdkDragBoundary="body" [cdkDragFreeDragPosition]="initialPositionReset">
  <app-botones-start-stop-reset (resetSignalBotones)="resetGame()" class="time-buttons"/>
  <div class="div-info">
    <mat-accordion>
      <mat-expansion-panel hideToggle matTooltip="Informacion sobre el numero de movimiento realizados y el tiempo transcurrido">
          <mat-expansion-panel-header>
            <mat-panel-title> Informacion del juego</mat-panel-title>
            <mat-panel-description>
              <mat-icon class="mat-info">directions_run</mat-icon>
              <p class="p-info">{{ this.moves() }}</p>
              <mat-icon class="mat-info">timer</mat-icon>
              <p class="p-info">{{ this.time() }}</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div class="div-info">
            <div class="div-static-info">
              <h3>Record Actual</h3>
              <p>Movimientos minimos: {{ this.NroMovimientos() }}</p>
              <p>Nro Soluciones : {{ this.NroSoluciones() }}</p>
            </div>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title> Informacion del Puzzle</mat-panel-title>
          </mat-expansion-panel-header>
          <div class="div-info">
            <div class="div-static-info">
              <p>Movimientos minimos: {{ this.NroMovimientos() }}</p>
              <p>Nro Soluciones : {{ this.NroSoluciones() }}</p>
            </div>
          </div>
        </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>


